.btn {
  outline: none;
  margin: 0 auto;
  display: block;
  width: auto;
  cursor: pointer;
  &.train {
    font-family: $montserrat, $open_sans, sans-serif;
    padding: 10px 35px;
    list-style: none;
    font-weight: 500;
    line-height: 1.2;
    &.red {
      background-color: $red;
      text-decoration: none;
      color: $white;
    }
    &.blue {
      background-color: $blue;
      text-decoration: none;
      color: $white;
    }
  }
}
