.red, .Red { background-color: $red; }
.blue, .Blue { background-color: $blue; }
.pink, .Pink { background-color: $pink; }
.org, .Org { background-color: $orange; }
.brn, .Brn { background-color: $brown; }
.g, .G { background-color: $green; }
.p, .P { background-color: $purple; }
.y, .Y { background-color: $yellow; }
