.location {
  background-color: $white;
}
.station {
  background-color: $white;
  padding: 15px 35px;
  box-shadow: 0 2px 8px -1px rgba(10, 22, 50, .24);
  margin: 10px auto;
  display: block;
  position: absolute;
  top: 7%;
  left: 40px;
  z-index: 100;
  width: 500px;
  height: 500px;
  h1 {
    text-align: center;
  }
  .body {
    width: 100%;
    @extend .text-left;
    .train {
      width: 100%;
      display: inline-flex;
      .destination {
        font-size: 12px;
        line-height: 1.2;
        margin: 5px 0 0 15px;
      }
      .arrivalTime {
        font-size: 16px;
      }
    }
  }
}
