@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

$open_sans: "Open Sans";

// Colors
$red: #c60c30;
$blue: #00a1de;
$brown: #62361b;
$green: #009b3a;
$orange: #f9461c;
$purple: #522398;
$pink: #e27ea6;
$yellow: #f9e300;
$grey: #565a5c;
$black: #000;
$white: #fff;
$black_almost: #0D0D0D;
